@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 700px;
}

.card {
  background: white;
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.word {
  font-size: 2rem;
}

.definition {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-style: italic;
}

.highlight {
  display: inline-block;
  border-bottom: .1rem solid red;
  padding: 0 .2rem .1rem .2rem;
  cursor: pointer;

  &:hover {
    color: darkred;
  }
}

.usage {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}
