@import '../node_modules/react-selectize/themes/index.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@mixin center-vh() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-h() {
  display: flex;
  justify-content: center;
}

@mixin center-v() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  font-size: 62.5%;
}

body, #app {
  background: #e6e6e6;
  @include center-vh;
}

.word {
//font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  @include center-vh;
  flex-direction: column;
  width: 700px;

  &__word {
    font-size: 6.8rem;
    margin-bottom: 2rem;
  }

  &__pron-pos {

  }

  &__pron {

  }

  &__pos {
    padding-top: 2rem;
    font-size: 1.6rem;
    font-family: serif;
    color: #a0a0a0;
  }

  &__definition {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    margin-top: 4rem;
  }

  &__example {
    padding-top: 2rem;
    font-size: 1.8rem;
    font-style: italic;
    font-family: serif;
    color: #696969;
  }

  &__highlight {
    display: inline-block;
    border-bottom: .1rem solid red;
    padding: 0 .2rem .1rem .2rem;
    cursor: pointer;

    &:hover {
      color: darkred;
    }
  }

  &__tags {
    padding-top: 6rem;
    font-size: 190%;
  }
}
